.header-temp {
   padding-top: 5.7em;
   padding-bottom: 4em;
   margin: auto;
}


.title {
   font-size: 2.5em;
   font-weight: 700;
   text-shadow: 4px 2px 0px #000000, 5px 0px 10px #000000;
}

.name-business {
   color: var(--logo-color);
   font-size: 1.5em;
   margin-top: 0.15em;
   text-align: right;
   text-shadow: 4px 2px 0px #000000, 5px 0px 10px #000000;
   order: 1;
}

.container-name{
   align-items: end;
   display: flex;
   gap: 0.60em;
   justify-content: right;
   margin-right: 4.8em;
}

.logo-name-business{
   width: 10%;
   order: 0;
   margin-top: 0.38em;
}

.container-stopwatch {
   margin-top: 4em;
}

#timer {
   font-family: var(--relogio-fonte);
   font-size: 3.5em;
}

.milliseconds {
   font-size: 0.3em;
}

#startStop,
#reset,
#lap {
   border-radius: 0.2em;
   border-style: none;
   border-color: var(--highlights);
   box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2);
   -webkit-box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2);
   -moz-box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2);
   background-color: var(--highlights);
   color: var(--texto-botao);
   font-size: 1.1em;
   font-weight: 400;
   padding: 0.3rem 0.5em;
   margin: 0.2em 0em 0.5em 0.3em;
   /*text-shadow: 1px 0 #000000, -2px 0 #000000, 0 1px #000000, 0 -2px #000000,
      1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;*/
}
#reset{
   background-color: var(--reset-button);
}

#laps {
   padding-top: 1.2rem;
   font-size: 1.3rem;
   font-weight: 200;
}

.description {
   width: 90%;
   margin: auto;
   padding-top: 2em;
}

.title-description {
   margin: 1.5em;
   font-size: 1.6em;
   font-weight: 600;
}

.text-description {
   font-size: 1.1em;
   line-height: 1.2em;
}

.use-tutorial{
   margin-top: 3em;
}

.title-article{
   font-size: 1.2em;
   font-weight: 600;
   margin-bottom: 1em;
}
.how-to-use{
   list-style: circle;
   margin: 0em 1em 0em 1em;
}

.steps{
   text-align: left;
   margin: 0em 2em 1em 2em;
}

.title-list{
   font-weight: 600;
   color: var(--texto-botao);
   background-color: var(--highlights);
   border-radius: 0.2em;
   padding: 0.2em 0.2em 0.2em 0.2em;
   width: fit-content;
}

.reset-step{
   background-color: var(--reset-button);
}

.footer {
   padding-top: 2.5em;
   padding-bottom: 1.2em;
}

.text-footer {
   font-size: 0.8em;
   color: var(--highlights);
}

/*media screen de tablet*/
@media screen and (min-width: 750px){
   .title {
      font-size: 4.5em;
   }
   .name-business {
      font-size: 2.2em;
   }
   #timer {
      font-size: 6.5em;
   }
   
   .milliseconds {
      font-size: 0.4em;
   }
   
   #startStop,
   #reset,
   #lap {
      font-size: 2.1em;
      font-weight: 400;
   }
   
   #laps {
      font-size: 2.3em;
   }
   
   .title-description {
      font-size: 2.6em;
   }
   
   .text-description {
      font-size: 1.8em;
   }
   
   .text-footer {
      font-size: 1.2em;
   }
}

/*media screen desktop*/
@media screen and (min-width: 1200px){
   #timer {
      font-size: 8.5em;
   }
}