/*main*/
@import url('/assets/styles/main.css');

/*Font Clock*/
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;500;700&display=swap');

/*Body Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap');

:root{
   --background-image: linear-gradient(to right top, #042822, #05241e, #052019, #031c15, #001911);
   /*--background: #042822;*/
   --texto-cor: #EFFCF9;
   --highlights: #00A98E;
   --button-collor: #00A98D;
   --texto-botao: #042822;
   --relogio-fonte: 'Chakra Petch', sans-serif;
   --texto-corpo: 'Montserrat', sans-serif;
}

body{
   align-items: center;
   text-align: center;
   display: flex;
   flex-direction: column;
   background: var(--background-image);
   background-repeat: no-repeat;
   font-family: var(--texto-corpo);
   color: var(--texto-cor);
   width: 100%;
}